{% extends "base-pages.html" %}

{% block page_title %}
	Dashboard
{% endblock %}

{% block page_name %}
    Dashboard
{% endblock %}

{% block page_content %}
	
	<div class="large-12 columns">	
		<p>Ok, All the usual code goes in here!</p>
	</div>
	
{% endblock %}

