{% extends "base-pages.html" %}

{% block page_title %}
	Login
{% endblock %}

{% block page_name %}
	Login
{% endblock %}

{% block page_content %}
	<div class="large-6 large-centered columns">	
		<form action="{% url 'gatekeeper:doLogin' %}" method="post">
			{% csrf_token %}
			<div class="large-12 colums">
				<label>
					<input type="checkbox" name="newuser" id="newuser"/> I don't have an account as yet!
				</label>
				<label id="lbSignUp">No worries! We'll sign you up. Just key-in the below information</label></br></br>
			</div>
			<div class="email-field">
				<label>Email:
					<input type="email" name="username" required placeholder="user@name.com"/></br></br>
				</label>
			</div>
			<label>Password:
				<input type="password" name="password" placeholder="" /></br></br>
			</label>
			<input id="btnLogin" class="button" type="submit" value="Login" />
			<input id="btnSignUp" class="button" type="submit" value="Sign me in" />
		</form>
	</div>
	
	<script language="javascript">
	
		$('#lbSignUp').hide();
		$('#btnSignUp').hide();
	
		$('#newuser').change(
		function(){
			if ($(this).is(':checked')) {
				$('#btnLogin').hide();
				$('#lbSignUp').show();
				$('#btnSignUp').show();
			} else {
				$('#btnLogin').show();
				$('#lbSignUp').hide();
				$('#btnSignUp').hide();
			}
		});
		
	</script>
	
{% endblock %}

