/* Foundation overrides */

body {
	background-color:#FCFCFC
}

/* End Foundation overrides */

.large-tile {
	background-color: #FF851B;
	height:400px;
}

.standard-tile {
	background-color: #FF851B;
	height:70px;
}

.home-slider {
    margin: auto;
    width: 900px !important;
    height: 300px !important;
}

.footer {
	color: #ABABAB;
}

.footer > p {
	font-size: 11px;
}