{% extends "base-pages.html" %}

{% block page_title %}
	{{content.page_name}}
{% endblock %}

{% block page_name %}
	{{content.page_name}}
{% endblock %}

{% block page_content %}
	{% if messages %}
	</br></br>
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	</br></br>
		<p>{{content.page_content|safe}}</p>
	</br></br>
	<hr>
	</br>
	<h3>Leave us a note</h3>
	<form action="{% url 'pages:message' %}" method="post">
		{% csrf_token %}
		<p>{{form.as_p }}</p>
		<input type="submit" value="Submit" class="button"/>
	</form>
{% endblock %}

