{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
	Dawn::Home
{% endblock %}

{% block content %}

	<div class="large-12 columns large-tile text-center">
		
			<!-- Slider -->
			<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
			<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css"/>
			
			<div class="home-slider text-center" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "centerMode": true, "autoplay": true, "dots": true, "arrows": false, "variableWidth": false}'>
				<div class="large-12 columns text-center">
					</br>
					<p>Combines the power of <h1>Django / Python 3</h1> and the <h1>Foundation Framework</h1> to in a boilerplate that serves as a base for creating powerful backends with appealing interfaces</p>
				</div>
				<div class="large-12 columns text-center">
					</br>
					<p>End-to-end development workflows defined for <h1>Vagrant</h1>and deployment workflows on the latest Ubuntu LTS with integrations to <h1>Apache (2.4) / ModWSGI</h1>
					Ensuring all your requirements and dependencies for development and deployment</br> are enclosed in one package</p>
				</div>
				<div class="large-12 columns text-center">
					</br>
					<p>Support for, <h1>Auth and User Management</h1>Integrates django-allauth, with authentication, account management and social integration. 
					<h1>Static Pages and Blog</h1>
					With handlers for form submissions like 'contact', with an in-house blogging engine
					
				</div>
			</div>
			
			<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
			<!-- End Slider -->
		
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="large-12 columns panel text-center">
				<p>Get it now - <a href="https://bitbucket.org/immanuelnoel/dawn-django-boilerplate" target="_blank">https://bitbucket.org/immanuelnoel/dawn-django-boilerplate</a></p>
			</div>
			</br></br>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</br></br>
			<hr>
			</br>
			<div class="large-6 columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="large-6 columns">	
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>

		
{% endblock %}
