{% extends "base-blog.html" %}

{% block blog_title %}
	Blog
{% endblock %}

{% block blog_name %}
	Blog
{% endblock %}

{% block blog_content %}
	{% if posts %}
		<ol>
		{% for post in posts %}
			<a href="{% url 'blog:post' post.post_slug %}">{{ post.post_name }}</a>
			</br>{{ post.post_created_date }}
			</br>{{ post.post_content|safe }}
			</br><hr></br>
		{% endfor %}
		</ol>
	{% else %}
		<p>No blog posts have been made as yet!</p>
	{% endif %}
{% endblock %}