{% extends "base-blog.html" %}

{% block blog_title %}
	{{post.post_name}}
{% endblock %}

{% block blog_name %}
	<b>{{post.post_name}}</b>
{% endblock %}

{% block blog_content %}
	</br></br>
	<i>{{post.post_created_date}}</i>
	</br></br>
	{{post.post_content|safe}}
	</br></br>
	<a href="{% url 'blog:index' %}">back to blog...</a>
{% endblock %}