{% extends "base.html" %}

{% block title %}
	{% block blog_title %}{% endblock %} :: Dawn
{% endblock %}

{% block content %}
	
	<div class="large-12 columns standard-tile">
		<div class="row">
			</br>
			<h4>{% block blog_name %}{% endblock %}</h4>
		</div>
	</div>
	<div class="row">
		</br></br>
		<div class="large-12 columns">
			<div class="large-9 columns">
				<p>
					{% block blog_content %}
					{% endblock %}
				</p>
			</div>
			<div class="large-3 columns">	
				<p>Spacing out for the sidebar</p>
			</div>
		</div>
	</div>
{% endblock %}

