<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	
	<!-- LIBRARIES -->
    <link rel="stylesheet" href="{% static '/static/foundation/css/foundation.css' %}" />
    <script src="{% static '/static/foundation/js/vendor/modernizr.js' %}"></script>
	<script src="{% static '/static/foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static '/static/foundation/js/foundation.min.js' %}"></script>
	<!-- END LIBRARIES -->
	
	<!-- CUSTOM SETS -->
	<link href="{% static '/static/css/style.css' %}" rel="stylesheet" type="text/css">
	<!-- END CUSTOM SETS -->
	
	<title>{% block title %}Dawn{% endblock %}</title>
</head>

<body>

	<script language="javascript">
		$(document).ready(function(){
			//alert("JQuery is HERE!");
		});
	</script>
		
	{% include "header.html" %}
		
	{% block content %}{% endblock %}
	
	{% include "footer.html" %}
	
	<!-- LIBRARIES -->
	<script>
      $(document).foundation();
    </script>
	<!-- END LIBRARIES -->
	
</body>
</html>