{% extends "base.html" %}

{% block title %}
	Dawn :: {% block page_title %}{% endblock %}
{% endblock %}

{% block content %}
	
	<div class="large-12 columns standard-tile">
		<div class="row">
			</br>
			<h4>{% block page_name %}{% endblock %}</h4>
		</div>
	</div>
	<div class="row">
		</br></br>
		<div class="large-12 columns">
			{% ifequal page_sidebar "true" %}
				<div class="large-9 columns">
			{% else %}
				<div class="large-12 columns">
			{% endifequal %}
					<p>
						{% include "messages.html" %}
						{% block page_content %}
						{% endblock %}
					</p>
				</div>
				
			{% ifequal page_sidebar "true" %}
			<!-- Sidebar included -->
				<div class="large-3 columns">	
					{% block side_bar %}
					{% endblock %}
				</div>
			{% endifequal %}
			
		</div>
	</div>
{% endblock %}

