<div class="small-12 columns footer">
	<hr>
	<div class="small-12 columns footer text-center">
		<p><a href="{% url 'pages:page' 'about' %}">About</a> | <a href="{% url 'pages:page' 'work' %}">Work</a> | <a href="{% url 'blog:index' %}">Blog</a> | <a href="{% url 'pages:page' 'contact' %}">Contact</a></p>
	</div>
	<div class="small-12 columns footer">
		<div class="small-9 columns footer">
			<p>{% block footer %}<a href="http://immanuelnoel.com" target="_blank">immanuelnoel.com</a> (c) 2015 | <a href="https://bitbucket.org/immanuelnoel/dawn-django-boilerplate" target="_blank">Download DAWN</a>{% endblock %}</p>
		</div>
		<div class="small-3 columns footer text-right">
			<p><a href="http://facebook.com" target="_blank">Facebook</a> | <a href="http://twitter.com" target="_blank">Twitter</a> | <a href="mailto:someone@mail.com" target="_blank">Email</a></p>
		</div>
	</div>
</div>