<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
				<h1><a href="/" style="font-family: 'Questrial', sans-serif; font-size:40px">Dawn</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			<!--- if logged in --->
			<li><a href="{% url 'gatekeeper:dashboard' %}">Dashboard</a></li>
			<li><a href="{% url 'gatekeeper:edit' %}">Edit</a></li>
			<li><a href="{% url 'gatekeeper:logout' %}">Logout</a></li>
		
			<!--- if logged out --->
			<li><a href="{% url 'gatekeeper:login' %}">Login / Sign Up</a></li>
			<li><a href="{% url 'blog:index' %}">Blog</a></li>
		
		</ul>
	  </section>
	</nav>