{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		
			{% if message.tags %}
				{% if message.tags == "success" %}
					<div data-alert class="alert-box success radius">
				{% endif %}
				{% if message.tags == "warning" %}
					<div data-alert class="alert-box warning radius">
				{% endif %}
				{% if message.tags == "info" %}
					<div data-alert class="alert-box info radius">
				{% endif %}
				{% if message.tags == "error" %}
					<div data-alert class="alert-box alert radius">
				{% endif %}
			{% else %}
				<div data-alert class="alert-box secondary radius">
			{% endif %}
			{{ message }}
				<a href="#" class="close">&times;</a>
			</div>
		{% endfor %}
	</ul>
	</br></br>
{% endif %}